:root {
    --pf-accent: rgb(102, 190, 69);
    --pf-accent--focus: rgb(39, 112, 12);
    --pf-accent--disabled: rgb(140, 177, 127);
    --pf-accent-font-color: rgb(255, 255, 255);

    --pf-shadow--normal: 0 0.4rem 0.5rem rgba(102, 190, 69, 0.4);
    --pf-shadow--focus: 0 0.25rem 0.25rem rgba(102, 190, 69, 0.6);

    --pf-tn--default: 0.2s linear;
}

