:root {
    --pf-accent--raw: 104, 191, 73;

    --pf-accent: rgb(var(--pf-accent--raw));
    --pf-accent--disabled: rgba(var(--pf-accent--raw), 0.75);
    --pf-accent-font-color: rgb(255, 255, 255);

    --pf-shadow--normal: 0 0.4rem 0.5rem rgba(var(--pf-accent--raw), 0.4);
    --pf-shadow--focus: 0 0.25rem 0.25rem rgba(var(--pf-accent--raw), 0.6);

    --pf-tn--default: 0.2s linear;
}

